<div class="main">
  <p id="notice"><%= notice %></p>
  <div class="title">
    <h5><%= @blog.title %></h5>
  </div>
  <div class="content">
    <%= @blog.content %>
  </div>
<% if admin_signed_in? %>
  <a class="btn-floating btn-large waves-effect waves-light red" href="/blogs/<%= @blog.id %>/edit"><i class="material-icons">create</i></a>
<% end %>
<a class="btn-floating btn-large waves-effect waves-light red" href="/blogs"><i class="material-icons">keyboard_backspace</i></a>
</div>
