/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'materialize';

.blue {
  color: #00A7E8;
}

.red {
  color: #EA1E26;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #EA1E26;
}

nav {
  padding: 15px;
}

.banner {
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.logo {
  padding: 15px;
  margin-left: 10px;
}

.brand-name {
  background: #00A7E8;
  box-shadow: 2px 1px 5px 2px;
  border-radius: 10px;
}

.action {
  text-align: center;
}

.header {
  padding: 10px;
  background-image: url('bg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  padding: 15px;
}

.logo-text {
  color: #EA1E26;
}

.about {
  padding: 15px;
}

.modal {
  background-color: #EA1E26;
  color: white;
}

.modal-mark {
  float: left;
}

.add-blog {
  float: right;
}
.title {
  text-align: center;
}
.content {
  padding: 15px;
  border-radius: 10px;
  background-color: #fdf5e8;
  text-align: justify;
  }
